body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* whole calculator design */
.calculator{
  width: 400px;
  margin: 20px;
}
/* whole body design */
.calculatorBody{
  display: flex;
  flex-direction: column;
}
/* row design */
.calculatorBodyRow{
  display: flex;
}
/* btn design */
.calculatorBtn{
  width: 25%;
  text-align: center;
  font-size: x-large;
  background-color: #ffeb3b4a;
  padding: 18px;
}
/* calculator header design */
.calculatorHeader{
  text-align: end;
  padding: 10px;
  border: 2px solid black;
  margin: 0px;
  overflow: overlay;
  border-radius: 10px 10px 0 0;
}
/* all sign btns design */
.signBtns{
  background-color: orange;
}
/* changing background color when btn remains clicked */
.calculatorBtn:active{
  background-color: white;
}
/* the whole container design containing the calculator */
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


